header {
    text-align: center;
    top:0;
    width:95%;
    margin: 0 auto;
}
header img{
    width: 80px;
}
#content {
    width: 80%;
    margin: auto;
}
#login-form {
    width: 50%;
    margin: auto;
}
#filter-form {
    float: right;
}
.input {
    min-width: 300px;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgb(82, 74, 95);
    border-bottom: 1px solid rgb(82, 82, 180);
}
.radio {
    min-width: 300px;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgb(82, 74, 95);
    border-bottom: 1px solid rgb(82, 82, 180);
    text-align: center;
}
div .index{
    min-width: 250px;
}
div#home {
    text-align: center;
    width: 90%;
    margin: auto;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}
table {
    width: 100%;
    margin-bottom: 20px;
}
.input input:focus{
    border-bottom: 2px solid rgb(32, 32, 182);
}
.input input{
    outline: 0;
    border-style: none;
    width: 95%;
    background-color: inherit;
    margin-bottom: 5px;
}
.buttons{
    outline: 0;
    border-style: none;
    width: 95%;
    background-color: inherit;
    margin-bottom: 5px;
    margin: auto;
}
.input p {
    float: left;
    margin: 5px; 
}
button {
    border-style: none;
    background-color: rgb(82, 74, 95);
    margin-top: 10px;
    margin-left: 25%;
    width: 80px;
    height: 30px;
}
button#filter {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}
button:hover {
    background-color: rgb(32, 32, 182);
}
a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgb(32, 32, 182);
}
footer {
    text-align: center;
    position:relative;
    bottom:0;
    width:95%;
    margin: 0 auto;
}
p.results {
    margin: 2px;
}
p.red {
    color: red;
}
p.green {
    color: green;
}